# Project 09 -- Emilio Pozas

**TA Help:** 
    
**Collaboration:**

## Question 1

In [1]:
import pandas as pd

In [2]:
myDF = pd.read_csv('/anvil/projects/tdm/data/whin/weather.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
myDF.head()

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,solar_radiation_high,rain,rain_inches_last_hour,wind_speed_mph,wind_direction_degrees,wind_gust_speed_mph,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
0,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:00:00Z,70.0,71.0,70.0,83.0,NaN,NaN,0.0,0.0,0.0,NaN,3.0,247.5,30.05,77.0,78.0,76.0,74.0,24.0,24.0,10.0,9.0
1,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:15:00Z,69.0,70.0,69.0,84.0,NaN,NaN,0.0,0.0,1.0,247.5,3.0,247.5,30.04,76.0,78.0,76.0,74.0,24.0,25.0,10.0,9.0
2,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:00:00Z,76.0,77.0,76.0,76.0,NaN,NaN,0.0,0.0,2.0,202.5,4.0,202.5,29.89,80.0,80.0,78.0,75.0,31.0,30.0,12.0,10.0
3,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:15:00Z,76.0,76.0,76.0,77.0,NaN,NaN,0.0,0.0,2.0,202.5,4.0,202.5,29.88,80.0,80.0,78.0,75.0,31.0,31.0,12.0,10.0
4,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:30:00Z,76.0,76.0,76.0,77.0,NaN,NaN,0.0,0.0,2.0,225.0,4.0,202.5,29.88,80.0,80.0,78.0,75.0,32.0,31.0,12.0,10.0

In [5]:
myDF.shape

(1000000, 26)

In [6]:
myDF.describe()

,station_id,latitude,longitude,temperature,temperature_high,temperature_low,humidity,solar_radiation,solar_radiation_high,rain,rain_inches_last_hour,wind_speed_mph,wind_direction_degrees,wind_gust_speed_mph,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
count,1000000.000000,1000000.000000,1000000.000000,995824.000000,995877.000000,995877.000000,995838.000000,951896.000000,987172.000000,1000000.000000,1000000.000000,995968.000000,904455.000000,1000000.000000,905784.000000,1000000.000000,885957.000000,885959.000000,885963.000000,885964.000000,885876.000000,885830.000000,885826.000000,885850.000000
mean,136.811227,40.575033,-86.819166,54.332357,54.641001,54.022909,75.550037,180.700083,1379.200976,0.089229,1.192975,5.914523,184.143938,10.203489,183.210393,29.475522,55.532219,56.951872,55.318035,55.059858,37.796737,33.530907,30.350393,33.378197
std,49.921502,0.272393,0.393169,20.018870,20.052581,19.987283,16.484402,272.963957,6060.627577,1.018177,46.882968,4.867768,97.478143,7.238774,98.011759,0.387023,16.508854,18.499756,14.423309,13.405032,51.850741,51.576801,49.986007,55.127205
min,1.000000,40.104830,-87.510340,-90.000000,-90.000000,-90.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.754000,25.000000,28.000000,30.000000,32.000000,0.000000,0.000000,0.000000,0.000000
25%,144.000000,40.384007,-87.148604,39.000000,39.000000,39.000000,66.000000,0.000000,0.000000,0.000000,0.000000,2.000000,90.000000,4.000000,90.000000,29.213000,40.000000,42.000000,42.000000,43.000000,5.000000,4.000000,3.000000,3.000000
50%,153.000000,40.537220,-86.737141,56.000000,57.000000,56.000000,80.000000,11.000000,26.000000,0.000000,0.000000,5.000000,202.500000,9.000000,202.500000,29.372000,55.000000,56.000000,55.000000,54.000000,15.000000,10.000000,8.000000,8.000000
75%,163.000000,40.844360,-86.474180,70.000000,71.000000,70.000000,89.000000,288.000000,415.000000,0.000000,0.000000,9.000000,270.000000,14.000000,270.000000,29.644000,70.000000,71.000000,69.000000,68.000000,45.000000,34.000000,28.000000,31.000000
max,179.000000,41.018650,-86.181730,96.000000,96.000000,96.000000,100.000000,1338.000000,32767.000000,101.000000,8229.000000,37.000000,337.500000,60.000000,337.500000,30.887000,133.000000,164.000000,120.000000,123.000000,200.000000,200.000000,200.000000,200.000000

In [8]:
myDF.value_counts('station_id')

station_id
1      71631
20     56917
147    45600
143    45593
146    45579
145    45509
144    45495
142    45395
149    44060
159    43563
153    43559
157    43534
155    42993
160    42810
156    42807
151    42806
164    38791
163    37908
166    30242
167    27463
168    18581
169    14905
172    14812
179    14772
176    14402
173    13648
175    13314
171    13311
Name: count, dtype: int64

In [15]:
myDF.groupby('station_id').size()

station_id
1      71631
20     56917
142    45395
143    45593
144    45495
145    45509
146    45579
147    45600
149    44060
151    42806
153    43559
155    42993
156    42807
157    43534
159    43563
160    42810
163    37908
164    38791
166    30242
167    27463
168    18581
169    14905
171    13311
172    14812
173    13648
175    13314
176    14402
179    14772
dtype: int64

Both of these methods give you the same values. The difference comes in the order. Value_counts gives you values ordered by station_id and the groupby gives you the order based in counts.

## Question 2

In [19]:
myDF.isnull().sum()

station_id                          0
latitude                            0
longitude                           0
name                                0
observation_time                    0
temperature                      4176
temperature_high                 4123
temperature_low                  4123
humidity                         4162
solar_radiation                 48104
solar_radiation_high            12828
rain                                0
rain_inches_last_hour               0
wind_speed_mph                   4032
wind_direction_degrees          95545
wind_gust_speed_mph                 0
wind_gust_direction_degrees     94216
pressure                            0
soil_temp_1                    114043
soil_temp_2                    114041
soil_temp_3                    114037
soil_temp_4                    114036
soil_moist_1                   114124
soil_moist_2                   114170
soil_moist_3                   114174
soil_moist_4                   114150
dtype: int64

In [20]:
myDF.isnull().sum().sum()

1184084

In [23]:
myDF_cleaned = myDF.dropna()

In [24]:
myDF_cleaned.isnull().sum()

station_id                     0
latitude                       0
longitude                      0
name                           0
observation_time               0
temperature                    0
temperature_high               0
temperature_low                0
humidity                       0
solar_radiation                0
solar_radiation_high           0
rain                           0
rain_inches_last_hour          0
wind_speed_mph                 0
wind_direction_degrees         0
wind_gust_speed_mph            0
wind_gust_direction_degrees    0
pressure                       0
soil_temp_1                    0
soil_temp_2                    0
soil_temp_3                    0
soil_temp_4                    0
soil_moist_1                   0
soil_moist_2                   0
soil_moist_3                   0
soil_moist_4                   0
dtype: int64

In [26]:
myDF_cleaned.shape

(767725, 26)

## Question 3

In [28]:
myDFcleaned = myDF.dropna(subset=['temperature']).copy()

In [29]:
myDFcleaned.shape

(995824, 26)

In [31]:
myDFcleaned['location'] = myDFcleaned['latitude'].astype(str) + '_' + myDFcleaned['longitude'].astype(str)

In [33]:
myDFcleaned.groupby('location')['temperature'].mean()

location
40.10483_-86.86619                    56.057495
40.1492432088387_-86.7371410131454    61.413324
40.16179_-87.35246                    54.052897
40.2709571472446_-87.1486035394257    49.803342
40.2967994865571_-87.3902853950858    57.855233
40.30156_-87.48248                    58.889855
40.37634_-86.59591                    54.794076
40.38116_-86.40269                    47.765668
40.3840069271445_-87.31664031744      59.552215
40.38539_-87.51034                    55.115662
40.3861140862113_-87.1012964844704    59.383360
40.42124_-86.84642                    50.742410
40.43134_-86.53464                    55.081819
40.48079_-87.20682                    51.730032
40.4869749155437_-87.4914180859923    58.971553
40.51432_-86.45856                    55.183031
40.53722_-86.95342                    55.070667
40.5485_-87.12477                     54.898998
40.58629_-87.43654                    54.676701
40.59057_-86.39155                    55.307808
40.70178_-86.70649                    55.482287
40.78049_-86.89576                    54.791890
40.84436_-86.18173                    54.942505
40.93894_-86.47418                    49.883742
40.9700622558594_-86.9013715815608    59.919768
40.97061_-86.35304                    55.292530
40.98224_-86.38542                    54.206106
41.01865_-86.7101                     53.836086
Name: temperature, dtype: float64

Markdown notes and sentences and analysis written here.

## Question 4

In [35]:
def get_location_avgTemperature (df):
    dfclean = df.dropna(subset=['temperature']).copy()
    dfclean['location'] = dfclean['latitude'].astype(str) + '_' + dfclean['longitude'].astype(str)
    dfclean.groupby('location')['temperature'].mean()

## Question 5

In [38]:
myDFclean = myDF.dropna(subset=['wind_gust_speed_mph']).copy()

In [39]:
myDFclean['location'] = myDFclean['latitude'].astype(str) + '_' + myDFclean['longitude'].astype(str)

In [42]:
myDFclean.groupby('location')['wind_gust_speed_mph'].mean()

location
40.10483_-86.86619                    10.186783
40.1492432088387_-86.7371410131454    10.136323
40.16179_-87.35246                     9.026960
40.2709571472446_-87.1486035394257     9.993939
40.2967994865571_-87.3902853950858    11.560288
40.30156_-87.48248                    10.146300
40.37634_-86.59591                    10.174628
40.38116_-86.40269                    12.850781
40.3840069271445_-87.31664031744       6.184488
40.38539_-87.51034                    11.075690
40.3861140862113_-87.1012964844704     7.812415
40.42124_-86.84642                     5.973414
40.43134_-86.53464                    11.226047
40.48079_-87.20682                     6.290135
40.4869749155437_-87.4914180859923    11.720362
40.51432_-86.45856                    10.181839
40.53722_-86.95342                    11.794791
40.5485_-87.12477                     10.516033
40.58629_-87.43654                    11.681777
40.59057_-86.39155                    10.055651
40.70178_-86.70649                     9.843719
40.78049_-86.89576                    10.852191
40.84436_-86.18173                    10.285053
40.93894_-86.47418                     9.944437
40.9700622558594_-86.9013715815608    11.544695
40.97061_-86.35304                    10.564448
40.98224_-86.38542                    10.964359
41.01865_-86.7101                      8.975526
Name: wind_gust_speed_mph, dtype: float64

In [43]:
def get_location_avgWindGustSpeedMPH (df):
    dfclean = df.dropna(subset=['wind_gust_speed_mph']).copy()
    dfclean['location'] = dfclean['latitude'].astype(str) + '_' + dfclean['longitude'].astype(str)
    dfclean.groupby('location')['wind_gust_speed_mph'].mean()

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.